body {
  font-family: 'Poppins', sans-serif;
}

.box{
  background-color: darkblue;
  color:white;

  /* TRBL */
  padding:20px 40px 60px 10px;

  /* TB-RL */
  padding:10px 20px;

  /* T-RL-B */
  padding:10px 20px 30px;

  /* T-R-B-L */
  padding:20px;
}