* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ToolBox Container */
.toolbox-cont {
    background-color: #4b4b4b;
    height: 5rem;
    display: flex;
    align-items: center;
}

.toolbox-cont>* {
    margin-left: 4rem;
    border-radius: 5px;
}

/* ToolBox Priority Container */
.toolbox-priority-cont {
    background-color: #3d3d3d;
    height: 3.5rem;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.color {
    background-color: lightsalmon;
    height: 1.3rem;
    width: 3rem;
}

.lightpink {
    background-color: lightpink;
}

.lightgreen {
    background-color: lightgreen;
}

.lightblue {
    background-color: lightblue;
}

.black {
    background-color: black;
}

/* ToolBox Action Container */
.toolbox-action-cont {
    background-color: #3d3d3d;
    height: 4rem;
    width: 10rem;
    display: flex;
}

.toolbox-action-cont>* {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    color: #d1d8e0;
}

.toolbox-action-cont>*:hover {
    background-color: #485460
}

/* Main/Ticket Container */
.main-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    gap: 2rem;
}

.ticket-cont {
    height: 12rem;
    width: 17rem;
    background-color: #f1f2f6;
}

.ticket-color {
    height: 1rem;
}

.ticket-id {
    height: 2rem;
    padding: 10px;
}

.task-cont {
    height: calc(100% - 1rem - 2rem - 2rem);
    overflow: auto;
    padding: 1rem;
    outline: none;
}

.ticket-lock {
    height: 2rem;
    /* background-color: lightblue; */
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

/* Modal Container */
.modal-cont {
    height: 50vh;
    width: 45vw;
    background-color: lightblue;
    display: none;
    position: absolute;
    top: calc((100vh - 50vh) / 2);
    left: calc((100vw - 45vw) / 2);
}

.textarea-cont {
    resize: none;
    border: none;
    outline: none;
    background-color: #d2dae2;
    height: 100%;
    width: 75%;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 1.6;
}

/* Priority Colors Container */
.priority-colors-cont {
    width: 25%;
    height: 100%;
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.priority-color {
    height: 3rem;
    width: 55%;
}

.border {
    border: 5px solid #d1d8e0;
}