* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: black;
    color: white;
}

.container {
    margin: 1rem auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

button {    
    background-color: rgb(117, 46, 215);
    color: white;
    padding: 1rem;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 10rem;
}

button:hover {
    opacity: 0.8;
}