/* CSS Reset */
*{
  margin:0;
  padding:0;
  border:0;
  font-family: inherit;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.box {
  background: coral;
  max-width: 400px;
  margin: 20px;
  padding: 200px;
}
