* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #af40ff, #5b42f3, #00ddeb);
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

/* Navbar */

/* Banner */
.banner-card {
    width: 100vw;
    margin-top: 1vh;
    height: 70vh;
    color: #fff;
    position: relative;
}

.banner-img {
    margin-left: 10px;
    width: 99vw;
    height: 80vh;
    border-radius: 10px;
}

.banner-title {
    white-space: nowrap;
    position: absolute;
    top: 10rem;
    left: 5rem;
}

.banner-text {
    position: absolute;
    width: 80%;
    top: 15rem;
    left: 5rem;
    margin-bottom: 7rem;
}

/* Movies */
.movies-list {
    margin-top: 10rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    border: 0;

}

.movie-card {
    width: 25vw;
    height: 50vh;
    margin: 1rem;
    position: relative;
}

.movie-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    font-size: 2rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies-button {
    position: absolute;
    bottom: 2rem;
}