* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #5b42f3, #00ddeb);
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    color: #333;
}

/* Navbar */

/* Banner */
.banner-card {
    width: 100vw;
    margin-top: 1vh;
    height: 70vh;
    color: #fff;
}

.banner-img {
    margin-left: 10px;
    width: 99vw;
    height: 80vh;
    border-radius: 10px;
}

.banner-content {
    position: absolute;
    width: 90%;
    top: 40vh;
    left: 2rem;
    overflow: hidden;
}

.banner-title {
    font-size: 5rem;
    margin-bottom: 7rem;
}