body {
  font-family: Arial, sans-serif;
  background-color: #fff; /* Shorthand */

  /* RGB */
  /* background: rgb(0,0,0); */
}

/* Color names */
.sporty{
  color:red;
}

/* Hex value */
.casual{
  color:#e04553;
}

.card{
  /* RGBA */
  background-color: rgba(0,0,0,0.5);
  
  /* HSL */
  background-color: hsl(0,10%,50%);

  /* HSLA */
  background-color: hsl(0,10%,50%,0.5);
}

.card-2{
  background-color: #000;
  color:#fff;
  opacity: 0.7;
}